In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
cc_df = pd.read_excel('default of credit card clients.xls')
cc_df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [4]:
cc_df = pd.read_excel('default_of_credit_card_clients.xls', header=1)
cc_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'default_of_credit_card_clients.xls'

In [ ]:
cc_df['SEX'].value_counts()

In [ ]:
cc_df['SEX'].value_counts(normalize=True)

In [ ]:
cc_df['MARRIAGE'].value_counts()

In [ ]:
cc_df['MARRIAGE'].value_counts(normalize=True)

In [ ]:
cc_df['AGE'].hist()
plt.show()

In [ ]:
# Subset the dataframe for 30 year old customers

thirties_df = cc_df[cc_df['AGE'] == 30]
thirties_df.head()

In [ ]:
# Whats the average credit limits for 30 year old customers?

thirties_df['LIMIT_BAL'].mean()

In [ ]:
# Whats the average Credit Limits for every Age?

avg_cc_limits_age = cc_df.groupby('AGE')['LIMIT_BAL'].mean().reset_index()

# What are the top5 Age categories who have highest Avg Credit Limits?
avg_cc_limits_age.sort_values(by='LIMIT_BAL', ascending=False).head()

In [ ]:
plt.bar(avg_cc_limits_age['AGE'], avg_cc_limits_age['LIMIT_BAL'])
plt.title('Average Credit Limits by Customers of Different Age')
plt.show()

In [ ]:
# Whats the average Credit Limits for different EDUCATIONAL QUALIFICATIONS?

avg_cc_limits_edu = cc_df.groupby('EDUCATION')['LIMIT_BAL'].mean().reset_index()

# What are the top5 EDUCATION QUALIFICATION categories who have highest Avg Credit Limits?
avg_cc_limits_edu.sort_values(by='LIMIT_BAL', ascending=False).head()

In [ ]:
plt.bar(avg_cc_limits_edu['EDUCATION'], avg_cc_limits_edu['LIMIT_BAL'])
plt.title('Average Credit Limits by Customers of Different EDUCATIONAL Backgrounds')
plt.show()

In [ ]:
# Histogram of the Credit Limit field.

cc_df['LIMIT_BAL'].hist()
plt.xlim(0,990000)
plt.title('Histogram of LIMIT_BAL field')
plt.show()

In [ ]:
# How many Males / Females have defaulted a payment?

gender_def_grp = cc_df.groupby('SEX')['default payment next month'].count()
gender_def_grp

In [ ]:
gender_def_grp.plot(kind='bar')

In [ ]:
# Whats the defaulter distribution across different Educational Qualifications?

edu_def_grp = cc_df.groupby('EDUCATION')['default payment next month'].count()
edu_def_grp

In [ ]:
edu_def_grp.plot(kind='bar')